// main text variables
$fontSizeMain: 14px;
$fontColorMain: #252b42;
$fontFamilyMain: Montserrat;
$fontWeightMain: 500;

//breakpoints variables
$breakpoint-smallDesc: 992px;
$breakpoint-Ipad: 768px;

//Menu styles variables
$fontColorMenu: #737373;
